  {% extends 'entries/base.html' %}
  
  {% block content %}
 <!-- Blog Entries Column -->
      <div class="col-md-8">
        <!-- Blog Post -->
        <a href="{% url 'blog-home'  %}" class="btn btn-primary btn-md">Back to home</a>
        <div class="card mb-4 mt-4">
          <div class="card-body">
            <h2 class="card-title">{{object.entry_title}}</h2>
            <p class="card-text">{{object.entry_text}}</p>
            
          </div>
          <div class="card-footer text-muted">
            Posted on {{object.entry_date}} by
            <span class= "text-info mr-2">{{object.entry_author}}</span>
          </div>
        </div>
      </div>


       {% endblock content %}     